h2,li,p,ul,blockquote {
    padding: 0;
    margin: 0;
}

ul {
    list-style-type: none;
}



a {
    text-decoration: none;
}

body {
    font-family: 'Inter',sans-serif;
    font-style: normal;
}

.container {
    margin: 0 auto;
    width: 1440px;
}

.container2 {
    margin: 0 auto;
    width: 1032px;
}



.header {
    background-image: linear-gradient(to right, rgba(43, 74, 97, 0.87), rgba(15, 72, 117, 0.87)),url(../img/Avatar-Head.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    padding: 39px 49px 39px 0;
    align-items: center;
}

.header-left {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1032px;
    margin-right: 49px;
}

.nav-list {
    
    display: flex;
    justify-content: space-between;
    width: 325px;
}

.switcher{
    display: flex;
}

.switch-img {
    margin: 0 10px;
}

.switch-text {
    color: #ffff ;
    font-weight: 300;
    font-size: 20px;
  line-height: 1.2;
}

.nav-link {
 color: #ffff;
 font-weight: 300;
font-size: 20px;
line-height: 1.2;
}

.nav-link:hover,.nav-link:focus {
    font-weight: 600;
    color: #94CFFF;
}


.head-btn {
    background-color: #0B0E66;
    width: 141px;
    height: 42px;
    border: 2px solid #26C7EA;
    border-radius: 35px 0px;
    color: #26C7EA;
    line-height: 1.25;
}




.nav-list:hover,:focus {
    color: #94CFFF;
}



.hero {
   background-image: url(../img/Avatar-Hero.jpg);
   height: 740px;
   width: 1440px;
 margin-top: 5px;

}

.p1 {
    color: #ffff;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}

.p2 {
    color: #ffff;
}


.hero-text {
    padding: 180px 0px 0px 204px;
}

.hero-btn {
    background-color: #0B0E66;
    width: 260px;
    height: 80px;
    border: 2px solid #26C7EA;
    color: #26C7EA;
    border-radius: 35px 0px;
    line-height: 1.25;
    margin-top: 42px;
    font-style: normal;
    font-weight: 400;
     font-size: 24px;
    line-height: 1.25;
}




.hero2 {
    background-image: url(../img/Avatar-hero228.jpg);
    width: 1440px;
    height: 741px;
}

.quote-text {
    margin-top: 75px;
    margin-bottom: 10px;
    padding-top: 4px;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 44px;
    text-align: center;
}

.cite {
    display: block;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
   line-height: 1.2;
}

.bird {
    width: 400px;
   height: 120px;
   display: block;
   margin-left: 520px;
   margin-bottom: 10px;
}



.navi {
    background-image: url(../img/Avatar-hero3.jpg);
    width: 1440px;
    background-repeat: no-repeat;
}

.hero-h {
    display: flex;
    justify-content: center;
      font-weight: 400;
      padding-top: 57px;
}

.navi-lang {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 45px;
    padding-bottom: 57px;
}





.navi-lang-item {
    background-color:rgba(255, 255, 255, 0.7);
    height: 240px;
    width: 320px;
   
}

.navi-lang-item:nth-child(-n+3) {
    margin-bottom: 24px;
}



.hero-btn2 {
    margin: 330px 590px;
    background-color: #0B0E66;
    width: 260px;
    height: 80px;
    border: 2px solid #26C7EA;
    color: #26C7EA;
    border-radius: 35px 0px;
    line-height: 1.25;
    font-style: normal;
    font-weight: 400;
     font-size: 24px;
    line-height: 1.25;
}

.switch {
    color: #ffff;
}



.navi-text {
    text-align: center;
   padding-top: 36px;
   margin-bottom: 40px;
    font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 24px;
}

.logos {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}
 
.img {
   display: block;
    margin: 0 auto;
    width: 152px;
   
}

.footer {
    background-image: linear-gradient(to right, rgba(43, 74, 97, 0.87), rgba(15, 72, 117, 0.87)),url(../img/Avatar-Head.png);
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    height: 223px;
    background-size:cover;
    padding: 35px 0 25px;
}

.footer-list {
    display: flex;
    flex-direction: row;
}

.footer-list-text {
    font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;
color: #ffff;

}








