h2,li,p,ul,blockquote {
    padding: 0;
    margin: 0;
}

ul {
    list-style-type: none;
}



a {
    text-decoration: none;
}

body {
    font-family: 'Inter',sans-serif;
    font-style: normal;
}

.container {
    margin: 0 auto;
    width: 1440px;
}



.header {
    background-image: linear-gradient(to right, rgba(43, 74, 97, 0.87), rgba(15, 72, 117, 0.87)),url(../img/Avatar-Head.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.header-left {
    display: flex;
    justify-content: space-between;
}

.head-btn {
    margin-left: 1095px;
    background-color: #0B0E66;
    width: 141px;
    height: 42px;
    border: 2px solid #26C7EA;
    border-radius: 35px 0px;
    color: #26C7EA;
    line-height: 1.25;
}


.nav-list {
    color: #ffff;
    display: block;
    justify-content: space-between;
}

.nav-list:hover,:focus {
    color: #94CFFF;
}



.hero {
   background-image: url(../img/Avatar-Hero.jpg);
   height: 740px;
   width: 1440px;
 margin-top: 5px;

}

.p1 {
    color: #ffff;
}

.p2 {
    color: #ffff;
}


.hero-text {
    padding: 180px 0px 0px 204px;
}

.hero-btn {
    background-color: #0B0E66;
    width: 260px;
    height: 80px;
    border: 2px solid #26C7EA;
    color: #26C7EA;
    border-radius: 35px 0px;
    line-height: 1.25;
}




.hero2 {
    background-image: url(../img/Avatar-hero228.jpg);
    width: 1440px;
    height: 741px;
}

.quote {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
   line-height: 1.2;
}

.cite {
    display: block;
    font-style: normal;
}

.bird {
    width: 400px;
   height: 120px;
}



.navi {
    background-image: url(../img/Avatar-hero3.jpg);
    width: 1440px;
    background-repeat: no-repeat;
}

.hero-h {
    display: flex;
    justify-content: center;
      font-weight: 400;
      padding-top: 57px;
}

.navi-lang {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}





.navi-lang-item {
    background-color:rgba(255, 255, 255, 0.7);
    height: 240px;
    width: 320px;
    padding: 36px  0;

}

.navi-lang-item:nth-child(-n+3) {
    margin-bottom: 24px;
}

.container2 {
    margin: 0 auto;
    width: 1032px;
}


.hero-btn2 {
    background-color: #0B0E66;
    width: 260px;
    height: 80px;
    border: 2px solid #26C7EA;
    border-radius: 35px 0px;
    color: #26C7EA;
    line-height: 1.25;
}

.switch {
    color: #ffff;
}



.navi-text {
    text-align: center;
}

.logos {
    display: flex;
    flex-direction: column;
}
 
.img {
   display: block;
    margin: 0 auto;
   width: 100px;
   
}

.footer {
    background-image: linear-gradient(to right, rgba(43, 74, 97, 0.87), rgba(15, 72, 117, 0.87)),url(../img/Avatar-Head.png);
    background-repeat: no-repeat;
    height: 223px;
}








