ul,h2,li,p,a {
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-decoration: none;
    font-family: 'Inter';
}



.header {
    background-image: linear-gradient(to right, rgba(43, 74, 97, 0.87), rgba(15, 72, 117, 0.87)),url(../img/Avatar-Head.png);
    background-repeat: no-repeat;
    height: 150px;
    width: 1440px;
}

.nav-list {
    color: #ffff;
}

.nav-list:hover,:focus {
    color: #94CFFF;
}

.hero {
   background-image:url(../img/Avatar-Hero.png);
   height: 740px;
   width: 1440px;
 margin-top: 5px;

}

.p1 {
    color: #ffff;
}

.p2 {
    color: #ffff;
}


.hero-text {
    padding: 180px 0px 0px 204px;
}

.hero-btn {
    top left radius: 45px;
bottom right radius: 45px;
}

.djek-text {
color: #0A3853;
font-weight: 400;
}

.hero2 {
    background-image: url(../img/Avatar-hero2.png);
    width: 1440px;
    height: 741px;
}

.bird {
    justify-content: center;
}

.logos {
    padding-left: 1186px;
}



